<% layout('layout') -%>
<div class="row justify-content-center">
  <div class="col-md-6">
    <form action="/smtp" method="POST" class="card p-4 shadow">
      <h4 class="mb-3">Add SMTP Config</h4>
      <div class="mb-3">
        <label>Host</label>
        <input name="host" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Port</label>
        <input name="port" class="form-control" type="number" required>
      </div>
      <div class="mb-3">
        <label>Username</label>
        <input name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input name="password" class="form-control" type="password" required>
      </div>
      <div class="mb-3">
        <label>From Email</label>
        <input name="from_email" class="form-control" type="email" required>
      </div>
      <div class="mb-3">
        <label>
          <input type="checkbox" name="secure" value="true"> Use TLS/SSL (secure)
        </label>
      </div>
      <button class="btn btn-success w-100" type="submit">Save</button>
    </form>
  </div>
</div>